*{
    padding: 0px;
    margin: 0px;
    vertical-align: baseline;

}
body{
    height: 150vh;
    background-color:rgb(7, 7, 43);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    display: grid;
    height: 60vh;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "nav work play study"
    "nav exercise social selfcare";
    column-gap: 20px;
    row-gap: 10px;



}
.wrapper{
    background-color: rgb(12, 12, 70);
    border-radius: 5%;
    height: 180px;
   
    

}
nav{
    background-color: rgb(65, 65, 139);
    grid-area: nav;
    border-radius: 40%;
    /* padding-left: 30px; */
    vertical-align: baseline;
    /* box-sizing: border-box; */
    border-radius: var(--main-padding);
    padding-top: var(--main-radius);
    /* font-family: "inter",sans-serif; */
    /* font-size: 12px; */
    color: whitesmoke;
    

    

}
h2{
    font-size: 10px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    padding-top: 50px;
    padding-left: 30px;
    color: lightgrey;
    padding-bottom: 10px;
}
h3{
    font-size: 30px;
    display: flex;
    padding-left: 30px;
    color: white;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    

    

}
h4{
    color: grey;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-right: 90px;
    row-gap: 40px;

}
h5{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-right: 90px;
    /* padding-left: 30px; */
    /* row-gap: 40px; */
}

h6{
    color: grey;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-right: 90px;
    padding-bottom: 30px;
    /* padding-left: 30px;
    row-gap: 40px; */
}
#customized{
    background-color: rgb(12, 12, 70);
    border-radius: 10%;
    width: 100%;
    border-radius: 10px;

}
 
#work{
    
    color: whitesmoke;
    grid-area: work;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    /* padding: 20px 50px 30px 30px; */
    /* border-radius: var(--main-padding); */
    /* padding-top: var(--main-radius); */
}
.border{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: salmon;
    border-radius: 20px 20px 0px 0px;
}
#play{
    background-color: rgb(7, 7, 43);
    color: whitesmoke;
    grid-area: play;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    /* border-radius: var(--main-padding);
    padding-top: var(--main-radius); */

}
.border2{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: lightblue;
    border-radius: 20px 20px 0px 0px;

}
#study{
    background-color: rgb(7, 7, 43);
    color: whitesmoke;
    grid-area: study;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.border3{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: rgb(221, 94, 136);
    border-radius: 20px 20px 0px 0px;
}
#exercise{
    background-color: rgb(7, 7, 43);
    color: whitesmoke;
    grid-area: exercise;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.border4{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: rgb(139, 231, 139);
    border-radius: 20px 20px 0px 0px;
}
#social{
    background-color: rgb(7, 7, 43);
    color: whitesmoke;
    grid-area: social;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.border5{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: blueviolet;
    border-radius: 20px 20px 0px 0px;
}
#selfcare{
    background-color: rgb(7, 7, 43);
    color: whitesmoke;
    grid-area: selfcare;    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    
}
.border6{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: rgb(240, 240, 102);
    border-radius: 20px 20px 0px 0px;
}
h1{
    font-size: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 40px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;

}
p{
    font-size: 10px;
    color: grey;
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 40px;
}
img{
    display: block;
    margin-right: 5px;
}
@media only screen and (max-width:550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "nav"
        "work"
        "play"
        "study"
        "exercise"
        "social"
        "selfcare";
    }
}
:root{
    --main-radius:5px;
    --main-padding:5px
}
.dotted{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
}