* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;



}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(./images/hero.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    height: 75px;
    display: flex;
    justify-content: flex-start;

}

.logo {
    color: whitesmoke;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    padding-top: 10px;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li {
    list-style: none;
    margin-left: 62px;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #ff7200;
}

.btn {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-left: 250px;
    padding-top: 10px;
    column-gap: 30px;
    margin-right: 10px;
}

.btn a {
    color: whitesmoke;
    padding-top: 20px;
    text-decoration: none;
    font-family: arial;
    font-size: 14px;
}

.log {
    background-color: rgb(5, 187, 248);
    width: 760px;
    border: 1px solid rgb(5, 187, 248);
    height: 60px;
    margin-top: 30px;
    border-radius: 5px;
    font-family: arial;
    color: whitesmoke;
    font-size: 14px;

}

.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 125px;

}

.content .par {
    padding-left: 20px;
    padding-top: 25px;
    font-family: arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h2 {
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.get-learn {
    padding-top: 25px;
}

.content .get {
    width: 160px;
    height: 40px;
    background: rgb(14, 14, 233);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 20px;
    color: whitesmoke;
    cursor: pointer;
    transition: .4s ease;
}

.content .get a {

    text-decoration: none;
    transition: .3 ease;
}

.get:hover {
    background: white;



}

.content .learn {
    width: 160px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 20px;
    color: whitesmoke;
    cursor: pointer;
    transition: .4s ease;
}

.content .learn a {
    text-decoration: none;
}














.packofcard {
    background-color: rgb(253, 248, 248);
    height: 20vh;
    width: 100%;

}

.section1 {
    display: grid;
    grid-template-columns: 0.6fr 0.6fr 0.6fr 1.2fr;
    grid-template-areas: firstcard secondcard third;
    flex-direction: row;
    height: 20vh;
    width: 100%;
    column-gap: -20px;
    row-gap: 40px;
    padding-left: 300px;
    align-content: center;



}

.firstcard {
    grid-template-areas: firstcard;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    align-content: center;
    background-color: white;
    width: 230px;
    margin-top: -100px;




}

h5 {
    color: black;
    font-size: 20px;
    padding-left: 30px;


}

h6 {
    color: grey;
    font-size: 15px;
    padding-left: 30px;
}

.secondcard {
    grid-template-areas: secondcard;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 230px;
    margin-top: -100px;

}

.thirdcard {
    grid-template-areas: thirdcard;
    display: flex;
    flex-direction: column;
    background-color: rgb(47, 95, 253);
    width: 230px;
    margin-top: -100px;
}

h7 {
    font-size: 20px;
    color: white;
    padding-left: 30px;
}

.person {
    padding-left: 10px;

}

.cards {
    background-color: white;
    height: 50vh;
    width: 100%;

}

.section2 {
    display: grid;
    grid-template-columns: 0.6fr 0.6fr 0.6fr 1.2fr;
    grid-template-areas: card1 card2 card3;
    flex-direction: row;
    height: 20vh;
    width: 100%;
    column-gap: -20px;
    row-gap: 40px;
    padding-top: 100px;
    padding-left: 300px;
    align-content: center;

}

.card1{
    grid-template-areas: card1;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    align-content: center;
    background-color: white;
    width: 230px;
    

}

h3 {
    color: black;
    font-size: 20px;
    padding-left: 30px;

}

h4 {
    color: grey;
    font-size: 15px;
    padding-left: 30px;

}
.card2{
    grid-template-areas: card2;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    align-content: center;
    background-color: white;
    width: 230px;
}
.card3{
    grid-template-areas: card2;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    align-content: center;
    background-color: white;
    width: 230px;
}

















.section3 {
    background-color: rgb(253, 248, 248);
    height: 180vh;
    width: 100%;



}

.industry {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bolder;
    padding-top: 60px;
    padding-bottom: 10px;

}

.person {
    display: flex;
    padding-top: 20px;
    justify-content: center;
}

h8 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    padding-bottom: 40px;
    color: grey;

}

h9 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    padding-top: 10px;



}


.star {
    display: flex;
    flex-direction: row;


}

.user {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: light black;
}

.container {
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        'column1 column2 column3';
    column-gap: 20px;
    height: 30vh;
    


}

.column1 {
    grid-area: column1;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px 20px 10px;
    border-radius: 10px;
    border: 1px solid silver;


}

.column2 {
    grid-area: column2;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px 20px 10px;
    border-radius: 10px;
    border: 1px solid silver;

}

.column3 {
    grid-area: column3;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px 20px 10px;
    border-radius: 10px;
    border: 1px solid silver;
    

}
.graphics{
    display: flex;
    justify-content: center;
    column-gap: 30px;
    padding-top: 140px;
}
.sub-btn{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    height: 40px;
    background: color-mix(text-decoration(34, 6, 34)50%,rgb(245, 22, 245)70%);
}
.subscribe{
    height: 50px;
    width: 700px;
    display: flex;
    justify-content: flex-start;
    color: white;
    padding-left: 10px;
    padding-top: 10px;
}
.mail{
    display: flex;
    justify-content: center;
    padding: 15px 5px 10px 400px;
    border: 1 solid;
    border-radius: 5px;
    


} 
.sub-1{
    color: white;
}
.subscription .sub-1{
    background-color: rgb(55, 136, 230);
    border-radius: 2px;
}
.pricing{
        display: flex;
        justify-content: center;
        font-size: 40px;
        font-weight: bolder;
        padding-top: 60px;
        padding-bottom: 10px;
}
.joinedcards{
    background-color: rgb(253, 248, 248);
    height: 20vh;
    width: 100%;
    padding-top: 200px;

}
.section4{
    display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    grid-template-areas: one two three;
    flex-direction: row;
    height: 30vh;
    width: 100%;
    /* column-gap: -20px; */
    row-gap: 40px;
    padding-left: 520px;
    align-content: center;
}
.one{
    grid-template-areas: one;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    align-content: center;
    background-color: white;
    width: 270px;
    height: 55vh;
    border: 1px solid blue;
    border-radius: 10px;
    

}
.two{
    grid-template-areas: two;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    align-content: center;
    background-color: rgb(27, 27, 61);
    width: 270px;
    height: 61vh ;
    border: 1px solid blue;
    border-radius: 10px;
    margin-top: -50px;
   

}
.three{
    grid-template-areas: three;
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    align-content: center;
    background-color: white;
    width: 270px;
    height: 55vh;
    border: 1px solid blue;
    border-radius: 10px;
  

}
.free{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.standard{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    font-size: 20px;
    color: whitesmoke;
    font-weight: bold;


}
.premium{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 20px;
    color: black;
    font-weight: bold;


}
h{
    color: whitesmoke;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 10px;

}
p2{
    color: black;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 40px;
    padding-top: 10px;
    

}
h11{
    color: black;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 10px;
}
p1{
    color: black;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 10px;
}
.freemode{
    display: flex;
    justify-content: center;
    background-color: rgb(3, 3, 255);
    color: whitesmoke;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    margin-left: 30px;
    padding: 10px 25px 10px 20px;
    
}
p9{
    color: white;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 10px;
}
.freemode .btn{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px 25px 10px 20px;
    color: whitesmoke;
}
.dollar{
    color: blue;
    
}
h12{
    color: rgb(88, 189, 223);
    font-size: 50px;
    display: flex;
    justify-content: center;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: -40px;
    flex-direction: column;
    font-family: arial;
    font-weight: bold;
}
h13{
    color: rgb(88, 189, 223);
    font-size: 15px;
}
.months{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 130px;
    padding-top: -100px;
}
.section5{
    width: 100%;
    height: 60vh;
    background-color: rgb(3, 3, 32);
}
.world{
    display: flex;
    justify-content: flex-start;
    padding-left: 150px;
    color: rgb(223, 215, 215);
}
.uphead{
    display: flex;
    justify-content: flex-start;
    padding-left: 150px;
    padding-top: 45px;
    padding-bottom: 10px;

}
.view{
    display: flex;
    justify-content: center;
    margin-top: -150px;

}
.sectionlast{
    width: 100%;
    height: 40vh;
    background-color: rgb(243, 236, 236);
}
.section6{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    margin-top: -150px;
  
}
form{
    padding: 50px 50px;
    width: 40vh;
    height: 40vh;
    flex-direction: column;
    justify-content: center;
    background-color:rgb(250, 246, 246);
    margin-top: -150px;
    
}
.last{
    margin-top: -150px;
}
.name{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
p4 .name{
    display: flex;
    width: 50px;
    justify-content: flex-start;
}
.emailaddress{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.click{
    display: flex;
    justify-content: center;
    
}
.click .btn{
    /* display: flex;
    justify-content: center; */
    background-color: blue;
}
.consultancy{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 300px;
    margin-left: -300px;
    
    
}
.refers{
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    height: 4vh;
    width: 100px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    margin-left: 400px;
    margin-right: -100px;

}
p5{
    color: rgb(102, 91, 91);
    font-size: 16px;
    font-weight: bold; 

}
p{
    color: whitesmoke;
}
h2{
    color: whitesmoke;
}
.foot{
        width: 100%;
        height: 80vh;
        background-color: #ff7200;  
        display: flex;
        
}
p7{
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
}
p8{
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
}
